div.parent {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  position: fixed;
}

div.parent-mobile {
  display: none;
}

div.line {
  height: 100px;
}

ul.nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  width: 75px;
  flex-wrap: wrap;
}

.nav p {
  font-family: var(--font-code);
  padding: 0;
  margin: 0;
  cursor: pointer;
  margin-right: 5px;
  color: var(--accent);
}

.nav a {
  text-decoration: none;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.nav a:hover {
  border-bottom: none;
}

@media screen and (max-width: 500px) {
  div.parent {
    display: none;
  }

  div.parent-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    top: 60px;
    right: 20px;
    align-items: flex-end;
    z-index: 3;
  }

  .parent-mobile img {
    width: 25px;
    cursor: pointer;
  }

  ul.nav {
    width: auto;
    justify-content: right;
    align-items: flex-end;
    animation: slide-down 0.15s linear;
    transform-origin: top;
  }

  .nav li {
    box-shadow: var(--hover-shadow);
    padding: 5px;
    margin: 5px 10px;
    margin-right: 0;
  }

  ul.nav p {
    font-size: 1.15em;
  }
}