.project-container {
  --radius: 10px;
  --img-height: 55%;

  min-width: 260px;
  max-width: 300px;
  height: 370px;
  display: flex;
  flex-direction: column;
  background-color: var(--element-bg);
  border-radius: var(--radius);
  margin: 40px 30px;
  flex: 1;
  position: relative;
  cursor: pointer;
}

.project-container a {
  height: 100%;
}

.project-container .image-overlay {
  height: var(--img-height);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--radius) var(--radius) 0 0;
  background: var(--accent);
  opacity: 0.5;
}

.project-container .image-overlay:hover {
  opacity: 0;
}

.project-container img.card-image {
  height: var(--img-height);
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: var(--radius) var(--radius) 0 0;
}

.info {
  padding: 20px;
  text-align: left;
}

.info h3 {
  font-weight: 600;
  color: var(--accent);
}

.info a {
  z-index: 3;
}

.project-header {
  display: flex;
  flex-direction: row;
}

.project-container img.icon {
  padding-right: 0;
  width: 20px;
}

.project-container img.icon:not(.disabled) {
  cursor: pointer;
}

.project-container img.icon.disabled {
  cursor: default;
}

.tech {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 10px;
}

p.tech-item {
  /* background-color: var(--primary); */
  color: var(--secondary);
  margin: 0;
  font-weight: 500;
  font-family: var(--font-code);
  border-radius: var(--radius);
  height: 1.3em;
  padding: 5px 15px;
  padding-left: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 120px;
  overflow: hidden;
}

@media screen and (max-width: 500px) {
  .project-container {
    width: 90%;
    margin: 40px auto;
    box-sizing: border-box;
  }
}