.view-container {
  min-width: 400px;
  height: 100vh;
  border-radius: 15px 15px 0 0;
  position: absolute;
  right: 0;
  background-color: var(--element-bg);
  margin: 40px 0;
  position: sticky;
  top: 60px;
  padding: 20px;
  box-sizing: border-box;
  animation: 0.5s slide-up linear;
  transform-origin: bottom;
}

.view-header {
  display: flex;
  flex-direction: row;
}

.view-header img.icon {
  width: 20px;
}

h3.title {
  color: var(--accent);
  font-family: var(--font-code);
  /* text-decoration: underline 4px var(--accent); */
  font-weight: 600;
}

.img-viewer img.main {
  width: 100%;
  height: 250px;
  object-fit: contain;
  margin: 20px 0;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img-viewer .images img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  overflow: hidden;
  padding: 0 10px;
  cursor: pointer;
  opacity: 0.7;
}

.img-viewer .images img:hover {
  opacity: 1;
}

.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 35px 0;
}

.project-section.row {
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;
}

.project-section p.title {
  white-space: nowrap;
  font-family: var(--font-code);
  color: var(--accent);
  font-weight: 600;
  min-width: 110px;
  /* margin-top: 30px; */
  text-decoration: underline 2px var(--accent-light);
  margin: 0;
  padding-bottom: 15px;
}

.project-section p {
  margin: 0;
}

p.tech-item {
  max-width: none;
  white-space: normal;
  overflow: visible;
  color: var(--text);
  height: auto;
}

.project-section img.icon {
  padding: 0;
}

@media screen and (max-width: 900px) {
  .view-container {
    position: fixed;
    min-width: 450px;
    /* left: 0; */
    top: 100px;
    box-shadow: 0 0 150px var(--bg);
    left: 50%;
    transform: translateX(-50%);
    /* overflow-y: scroll; */
    /* padding-bottom: 80px; */
  }
}

@media screen and (max-width: 500px) {
  .view-container {
    position: fixed;
    min-width: 100%;
    left: 0;
    transform: translateX(0);
    top: 25px;
    box-shadow: 0 0 15px var(--bg);
    overflow-y: auto;
    padding-bottom: 80px;
  }
}