.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  /* width: 100%; */
  background-color: var(--bg);
  box-shadow: var(--header-shadow);
  /* align-items: initial; */
  z-index: 3;
  margin-left: 100px;
  margin-right: 20px;
}

h2.logo {
  /* margin-left: 100px; */
  border-bottom: 4px solid var(--accent);
  margin: 10px 0;
}

div.theme-toggle {
  margin: 0 20px;
  position: fixed;
  top: 0;
  right: 0;
}

img.theme-toggle {
  height: 30px;
  padding: 0 4px;
  transform-origin: top;
  cursor: pointer;
}

img.theme-toggle.switch {
  transform: translateY(-10%);
}

div.theme-toggle:hover img.theme-toggle.switch {
  transform: translateY(0);
}

.nav-toggle {
  display: none;
}

.container {
  background-color: var(--bg);
  text-align: center;
  min-height: 100vh;
  /* min-width: 100vw; */
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
}

.content {
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

div.page-content {
  text-align: left;
  justify-content: center;
}

div.page-content#center {
  justify-content: center;
  align-items: baseline;
}

div.page-content p:not() {
  font-family: var(--font-nunito);
}

.page-content .typewritten {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

*#blink {
  /* font-size: 1em; */
  animation: 1s blink-accent infinite;
  margin: 0;
}

.page-content .typewritten h1#name {
  margin: 0;
}

.page-content .home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin-top: 300px;
}

.page-content .home.row {
  flex-direction: row;
  align-items: center;
}

.page-content .home h3,
.page-content .home h2 {
  color: var(--text);
}

.page-content .home h3.section-title {
  color: var(--accent);
  font-family: var(--font-code);
}

.page-content h2 {
  margin: 10px 0;
  margin-bottom: 18px;
}

.button {
  /* background-color: var(--accent); */
  color: var(--primary);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  margin: 50px 0;
  border: 1.5px solid var(--primary);
}

.header .button {
  margin: 10px 0;
  margin-right: 50px;
  padding: 5px 15px;
}

.button:hover {
  border: 1.5px solid var(--accent);
  color: var(--accent);
}

a.button {
  font-weight: 600;
}

.header a.button {
  /* font-weight: normal; */
  font-size: 1em;
}

.button img.icon {
  padding-left: 0;
}

.home img#about-img {
  min-width: 35%;
  box-sizing: border-box;
  margin-left: 20px;
}

div.contact-links {
  position: fixed;
  bottom: 0;
  right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-links a {
  margin: 8px 0;
}

.contact-links a img {
  width: 20px;
}

.contact-links a:hover {
  transform: scale(1.1);
}

.contact-links div.line {
  margin-top: 5px;
}

@media screen and (max-width: 500px) {
  .header {
    margin-left: 20px;
  }

  .nav-toggle {
    display: block;
    margin-top: 40px;
  }

  /* div.page-content {
    margin: 35px 25px;
  } */
  div.contact-links {
    right: 10px;
  }


  .page-content#center h2 {
    font-size: 1.8em;
    white-space: nowrap;
  }

  .contact-links div.line {
    height: 5vh;
  }
}

@keyframes stretch {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(1.2);
  }
}