.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--bg);
  box-shadow: var(--header-shadow);
  z-index: 3;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

h2.logo {
  margin: 10px 0;
}

div.theme-toggle {
  margin: 0;
  position: absolute;
  top: 0;
  right: 20px;
}

img.theme-toggle {
  height: 30px;
  padding: 0 4px;
  transform-origin: top;
  cursor: pointer;
}

img.theme-toggle.switch {
  transform: translateY(-20%);
}

div.theme-toggle:hover img.theme-toggle.switch {
  transform: translateY(0);
}

.nav-toggle {
  display: none;
}

.nav-links {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--bg);
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

div.page-content {
  text-align: left;
  justify-content: center;
}

div.page-content#center {
  justify-content: center;
  align-items: baseline;
}

div.page-content p:not() {
  font-family: var(--font-nunito);
}

.page-content .typewritten {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

*#blink {
  animation: 1s blink-accent infinite;
  margin: 0;
}

.page-content .typewritten h1#name {
  margin: 0;
}

.page-content .home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin-top: 300px;
}

.page-content .home.row {
  flex-direction: row;
  align-items: center;
}

.page-content .home h3,
.page-content .home h2 {
  color: var(--text);
}

.page-content .home h3.section-title {
  color: var(--accent);
  font-family: var(--font-code);
}

.page-content h2 {
  margin: 10px 0;
  margin-bottom: 18px;
}

.button {
  color: var(--primary);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  margin: 50px 0;
  border: 1.5px solid var(--primary);
}

.header .button {
  margin: 10px 0;
  margin-right: 50px;
  padding: 5px 15px;
}

.button:hover {
  border: 1.5px solid var(--accent);
  color: var(--accent);
}

a.button {
  font-weight: 600;
}

.header a.button {
  font-size: 1em;
}

.button img.icon {
  padding-left: 0;
}

.home img#about-img {
  min-width: 35%;
  box-sizing: border-box;
  margin-left: 20px;
}

div.contact-links {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-links a img {
  width: 20px;
}

.contact-links div.line {
  margin-top: 5px;
}

@media screen and (max-width: 500px) {
  .header {
    align-items: baseline;
  }

  .page-content .home {
    margin-top: 60%;
  }

  .nav-toggle {
    display: block;
    margin-top: 40px;
    cursor: pointer;
  }

  div.contact-links {
    right: 10px;
  }

  .page-content#center h2 {
    font-size: 1.8em;
    white-space: nowrap;
  }

  div.line {
    display: none;
  }
}

@keyframes stretch {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(1.2);
  }
}