* {
  font-size: 10pt;
}

.container {
  background-color: #101214;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}