@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Nunito:wght@300family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-size: 11pt;
}

:root {
  --accent: rgb(79, 129, 223);
  --accent-opaque: #76a4fb80;
  --primary: #fff;
  --secondary: #7c848c;
  --element-bg: #141a1e;
  --hover-shadow: 0 0 15px rgba(43, 43, 43, 0.73);
  --bg-opaque: #10121499;
  --font-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  --font-nunito: 'Nunito', sans-serif;
  --font-poppins: 'Poppins', sans-serif;

  --color-wip: #df9648;
  --color-live: #4cc871;
  --color-comp: #6db2c8;
}

body[theme='dark'] {
  --accent: #76a4fb;
  --accent-light: #8fb5fd;
  --accent-opaque: #76a4fb80;
  --primary: #f2f4f7;
  --bg: #101214;
  --text: #8892b0;
  --secondary: #7c848c;
  --element-bg: #141a1e;
  --hover-shadow: 0 0 15px rgba(26, 29, 32, 0.855);
  --header-shadow: 0 10px 15px #101214b2;
  --bg-opaque: #101214de;
  scrollbar-color: var(--accent) var(--bg);
}

body[theme='light'] {
  --accent: #4f81df;
  --accent-light: #8fb5fd;
  --accent-opaque: #76a4fb80;
  --primary: #101214;
  --bg: #e6e9ec;
  --text:#313540;
  --secondary: #7c848c;
  --element-bg: #f2f4f7;
  --hover-shadow: 0 0 15px rgba(208, 204, 204, 0.73);
  --header-shadow: 0 10px 15px #e6e9eccb;
  --bg-opaque: #e6e9ec;
  scrollbar-color: var(--accent) var(--bg);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-code);
  color: var(--primary);
}

h1 {
  font-size: 3.5em;
  color: var(--accent);
}

h2 {
  font-size: 2em;
  color: var(--accent);
}

h3, h4 {
  font-size: 1.25em;
  color: var(--primary);
  font-family: var(--font-nunito);
  font-weight: 400;
  margin: 0;
}

h4 {
  font-size: 1.15em;
}

body {
  margin: 0;
  font-family: var(--font-poppins);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  scrollbar-color: var(--accent) var(--bg);
}

code {
  font-family: var(--font-code);
}

p, li {
  color: var(--text);
}

li {
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

p a, li a, a.link {
  color: var(--accent);
  font-weight: 600;
  font-family: var(--font-code);
  position: relative;
}

p b, li b {
  background-image: linear-gradient(to bottom, var(--accent-opaque) 20%, transparent 20%, transparent 80%, var(--accent-opaque) 80%, var(--accent-opaque));
  background-position: 0 1.03em;
  background-repeat: repeat-x;
  font-weight: normal;
}

p a:hover, li a:hover, a.link:hover {
  /* border-bottom: solid 4px var(--accent); */
}

p a:after, ul:not(.nav) li a:after, a.link:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: block;
  height: 3px;
  right: 100%;
  left: 0;
  position: absolute;
  background: var(--accent);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

p a:hover:after, ul:not(.nav) li a:hover:after, a.link:hover:after { 
  width: 100%; 
  right: 0;
}

div.line {
  width: 3px;
  height: 70px;
  background-color: var(--accent);
}

div.page-content {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 100px 0;
  padding-right: 80px;
  padding-left: 100px;
  box-sizing: border-box;
  background-color: var(--bg);
}

img.icon {
  width: 20px;
  height: 20px;
  padding: 0 8px;
}

img.icon.disabled {
  opacity: 0.2;
  cursor: default;
}

@media screen and (max-width: 500px) {
  * {
    font-size: 10.5pt;
  }

  div.page-content {
    padding: 0 15px;
    padding-top: 35px;
    margin: 60px auto;
    margin-top: 70px;
  }
}

/** Animations */
@keyframes slide-down {
  from {
    height: 0;
    transform: translateY(-30%) scaleY(0);
  }
  to {
    height: 100%;
    transform: translateY(0) scaleY(1);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes blink-accent {
  from {
    color: var(--accent);
  }
  50% {
    color: transparent;
  }
  to {
    color: var(--accent);
  }
}

button:not(:disabled):hover {
  filter: brightness(120%) hue-rotate(2deg);
}