div.page-content {
  justify-content: initial;
  /* max-width: 1500px; */
}

.projects-parent {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h2.section-title {
  color: var(--text);
  font-family: var(--font-nunito);
  text-decoration: underline 3px var(--accent-light);
  margin-left: 30px;
  font-weight: bold;
  /* border-bottom: 3px solid var(--accent-light); */
}

@media screen and (max-width: 500px) {
  h2.section-title {
    margin-left: 0;
    font-size: 1.7em;
  }
}